	.navbar-right button, .navbar-right input /* used to center the  button and search bar in the middle of the navbar*/
	{
		margin-top : 8px;
	}
	
	#news-content{
		width : 100%;
		height : auto;
		padding: 10px;
	}
	
	#news-content .col-md-12{
		background-color: #EED;
        border: 1px solid #CCC;
        padding: 10px;
		margin : 5px;
	}
	
	.news-text {	
        width: 100%;
        height: auto;
		padding-left : 15%;
      }

    .news-image { 
        width: 10%;
        height: 100%;
      }
	  
	.news-image img{
		float : left;
	}


    .title_large {
      text-transform: uppercase;
      font-weight: bold;
      }
	  